@import "../utils/color-rule/color-rule.scss";



/****************************************
******** personal reset 
****************************************/
@font-face {
    font-family: 'nunito';
    src: url(../../font/Nunito-VariableFont_wght.ttf) format('ttf');
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    font-size: 1em;
    font-weight: 500;
    font-family: 'nunito', Helvetica, sans-serif;
    line-height: 1.5;
}


/********************************************************
**********page size ******
********************************************************/

.page-container {
    position: relative;
    width: 100%;
    max-width: 2000px;
    min-width: 400px;
    margin: 0 auto;
    background-color: map-get($colors-rule, background-page-color);

}



.dark-mode {
    background-color: map-get($colors-rule, first-color);
    //color: map-get($colors-rule, sixth-color);
}

.hide {
    display: none;
}

body,
header {

    width: 100%;
    margin: 0 auto;

}

.page-container>header {
    position: sticky;
    max-width: 2000px;
    top: 0px;
    margin: 0 auto;
    z-index: 1000;
}

main {
    position: relative;
    width: 100%;

}

/**** mise en forme des conteneur pour le contenu dynamique ***/
// nav bar section
#RC-navbar {
    width: 100%;
    min-height: 60px; //correction du cls avec hauteur fixe nav bar + menu side

}

// Hero section
#RC-hero {
    width: 100%;
    min-height: 300px; //correction du cls avec hauteur fixe
}

// menu side
#RC-menu-side {

    width: 100%;

}

// link top page
#RC-link-top-page {

    position: fixed;
    top: 80%;
    right: 0;
    z-index: 1000;
    //border: 1px solid red;
    width: fit-content;

}

// Article list section
#RC-articles-list {
    width: 100%;
    min-height: 800px; //correction du cls avec hauteur fixe
}

// Services section
#RC-card-services {
    width: 100%;
    min-height: 400px; //correction du cls avec hauteur fixe
}

// CTA section
#RC-cta-section {
    position: relative;
    z-index: 10;
    width: 100%;
    //margin: 80px 0;
    //height: 400px;
}

// Slider section
#RC-slider {
    width: 100%;
    min-height: 300px;
}

#RC-footer {
    width: 100%;
    //height: 400px;
}

// contact form
#RC-contact-form {
    width: 100%;
    max-width: 800px;
    min-height: 600px;
}

// article content
#RC-article-content {
    width: 100%;
    min-height: 800px;

}

#RC-article-footer {
    width: 100%;
    min-height: 100px;
}

/********************************************************
**********page ******
********************************************************/
/********************************************************
**********pagination ******
********************************************************/

.h4-title {
    font-size: 1.1em;
    //font-weight: 500;
    //color: #000;
    margin-bottom: 10px;
}

/********************************************************
**********pagination ******
********************************************************/

/****************************************************
**********element commun à toutes les pages**********
****************************************************/

//banner hero



.hero-wrapper {
    width: 100%;

}

.hero-container {
    color: map-get($colors-rule, first-color);
    min-height: 300px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: map-get($colors-rule, background-page-color);


    &>img {
        position: absolute;
        z-index: 1;
        top: 0px;
        left: -80px;
        width: 600px;
        height: 500px;
        object-fit: cover;
        clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
        opacity: 0.8;
    }

    &>img:nth-child(2) {
        top: -15%;
        width: 500px;
        height: 500px;
        left: calc(100% - 350px);
        border-radius: 50%;
        clip-path: none;
        opacity: 0.8;

    }

    &::after {
        z-index: 10;
        content: '';
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 100%;
        height: 100px;
        //background-color: map-get($colors-rule, fourth-color);
        //background-color: ;
        clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    }

    .hero-container-title {
        position: relative;
        z-index: 5;
        margin: 0 auto;
        padding: 20px;
        background: map-get($colors-rule, background-page-color);
        width: 90%;
        border-radius: 10px;

        &>h1 {
            font-size: 2rem;
            font-weight: 800;
            margin-bottom: 1.5rem;
            line-height: 1.2;
            position: relative;
            //display: inline-block;

            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 80px;
                height: 4px;
                background-color: map-get($colors-rule, second-color);
                border-radius: 2px;
            }
        }

        &>.hero-subtitle {
            position: relative;
            z-index: 10;
            color: rgba(map-get($colors-rule, fifth-color), 0.7);
            font-size: 1.1rem;
        }


    }


}

@media screen and (min-width: 768px) {
    .hero-container {
        .hero-container-title {
            width: 80%;

            &>h1 {
                font-size: 2.5rem;
            }

            &>.hero-subtitle {
                font-size: 1.1rem;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .hero-container {
        .hero-container-title {
            width: fit-content;

            &>h1 {
                font-size: 3rem;
            }

            &>.hero-subtitle {
                font-size: 1.2rem;
            }
        }
    }
}





.page-container.dark-mode .hero {

    background-color: lighten(map-get($colors-rule, first-color), 5%);

    .container {
        background-color: lighten(map-get($colors-rule, first-color), 10%);

        h1 {
            color: map-get($colors-rule, sixth-color);
        }


        .hero-subtitle {
            color: map-get($colors-rule, sixth-color);
        }

    }



}




//lien contact
.contact-button-link {
    display: block;
    position: relative;
    z-index: 1;
    width: 80%;
    max-width: 200px;
    padding: 12px 24px;
    margin-top: 10px;
    background-color: map-get($colors-rule, fourth-color);
    color: map-get($colors-rule, sixth-color);
    border: 2px solid transparent;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;



    &:hover {
        color: map-get($colors-rule, fourth-color);
        border: 2px solid map-get($colors-rule, fourth-color);
        background-color: map-get($colors-rule, background-page-color);
    }



}



//FAQ section
.faq-section {

    padding: 0px 20px 100px 20px;
    background: linear-gradient(135deg, rgba(map-get($colors-rule, second-color), 0.1));
    width: 100%;
    margin: 0 auto;




    .faq-container-title {
        //border: 1px solid blue;
        height: 250px;
        margin-bottom: 50px;
        gap: 50px;



        &>h2 {
            // border: 1px solid blue;
            position: relative;
            width: fit-content;
            color: map-get($colors-rule, fifth-color);
            text-align: center;
            font-size: 1.5rem;

            strong {
                color: map-get($colors-rule, fourth-color);
                font-weight: bolder;
            }


            &::after {
                content: '';
                position: absolute;
                top: 0px;
                left: -30px;
                width: 1px;
                height: 100%;
                background: map-get($colors-rule, fourth-color);
                border-radius: 2px;

            }

        }

        .img-faq-personna {
            // border: 1px solid green;
            width: 100px;
            height: 100px;




        }


    }

    .faq-grid {
        //border: 1px solid red;
        gap: 20px;
        width: 100%;
        max-width: 1200px;

        .faq-item {
            width: 100%;
            max-height: 1000px;
            height: fit-content;
            background: map-get($colors-rule, sixth-color);
            border-radius: 15px;
            padding: 20px 30px;
            box-shadow: 0 4px 20px rgba(map-get($colors-rule, fifth-color), 0.05);
            border: 1px solid rgba(map-get($colors-rule, second-color), 0.1);

            &>h3 {
                display: block;
                width: 90%;
                font-size: 1rem;
                margin-bottom: 0;
                color: map-get($colors-rule, fifth-color);
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                user-select: none;
                transition: color 0.3s ease;

                &::after {
                    content: '▼';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%) translateX(50px);
                    transition: transform 0.3s ease;
                }

                &.expanded::after {
                    transform: translateY(-50%) translateX(50px) rotate(180deg);
                }


                &:hover,
                &.expanded {
                    color: map-get($colors-rule, fourth-color);
                }
            }

            p,
            ul {
                color: rgba(map-get($colors-rule, fifth-color), 0.8);
                line-height: 1.6;
                font-size: 0.9rem;
                padding: 0px 35px;
                position: relative;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease;



                strong {
                    color: map-get($colors-rule, first-color);
                    font-weight: 600;
                }
            }

            ul>li {
                color: rgba(map-get($colors-rule, fifth-color), 0.8);
                line-height: 1.6;
                font-size: 0.9rem;
            }

            p.expanded,
            ul.expanded {
                max-height: 1000px;
                height: fit-content;
                margin-top: 20px;
                transition: max-height 0.25s ease;




            }

            .faq-item.expanded {
                height: fit-content;
            }
        }
    }






    @media (min-width: 768px) {

        padding: 0px 50px 100px 50px;

        .faq-container-title h2 {
            font-size: 1.8rem;
        }

        .faq-grid {
            .faq-item {
                padding: 25px;

                &>h3 {
                    font-size: 1.2rem;
                    padding-left: 30px;
                }

                p,
                ul>li {
                    font-size: 1.1rem;
                    padding-left: 30px;
                }



                p.expanded {
                    max-height: 250px;
                }
            }
        }

    }

    @media (min-width: 992px) {


        .faq-container-title {


            &>h2 {
                font-size: 2.8rem;
            }

            //background-color: blue;
            .img-faq-personna {
                @media screen and (min-width: 992px) {
                    width: 150px;
                    height: 150px;
                    //margin-right: 50px;
                }
            }

        }



        .faq-grid {
            .faq-item {
                padding: 25px;

                &>h3 {
                    font-size: 1.3rem;
                    padding-left: 30px;
                }

                p,
                ul>li {
                    font-size: 1.1rem;
                    padding-left: 30px;
                }

                p.expanded {
                    max-height: 200px;
                    padding: 0px 80px 0px 35px;

                }
            }
        }

    }


}

//dark mode faq section
.page-container.dark-mode .faq-section {

    &>h2 {
        color: map-get($colors-rule, sixth-color);

        strong {
            color: lighten(map-get($colors-rule, fourth-color), 5%);
        }

        &::after {
            background: lighten(map-get($colors-rule, fourth-color), 5%);
        }
    }


    .faq-grid {

        .faq-intro {
            color: rgba(map-get($colors-rule, sixth-color), 0.9);
            background: lighten(map-get($colors-rule, fifth-color), 25%);

            strong {
                color: lighten(map-get($colors-rule, second-color), 5%);
            }
        }

        .faq-item {
            background: lighten(map-get($colors-rule, fifth-color), 10%);

            &>h3 {
                color: lighten(map-get($colors-rule, second-color), 5%);

                &:hover {
                    color: rgba(map-get($colors-rule, sixth-color), 0.9);

                }
            }

            p,
            ul>li {
                color: rgba(map-get($colors-rule, sixth-color), 0.9);

                strong {
                    color: lighten(map-get($colors-rule, second-color), 5%);
                }
            }


        }
    }




}





/********************************************************
**********Flexbox utilities for responsive design ******
********************************************************/

// Flexbox column
.flex-column-start-center {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-start-start {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-center-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flex-column-center-start {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-column-space_evenly-center {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    //background-color: red;

}

.flex-column-space_between-center {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    //background-color: red;

}

.flex-column-center-end {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

// Flexbox row
.flex-row-start-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-space_between-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-row-center-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-row-space_evenly-center {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}