//Charte de couleur de l' "App"


$colors-rule: (
    first-color: #024d4a,
    second-color: #00beb8,
    third-color: #c7e3cd,
    fourth-color: #c3066b,
    fifth-color: #171717,
    sixth-color: #ffffff,
    footer-color: #6080a0,
    // footer-color: #101010,

    background-page-color: #fbfbfc,
    disabled-color: #9ca3af,
    dark-mode-color: #373737,
    alert-color: orangered,

);