@use "../../utils/color-rule/color-rule" as *;

.page-container {
    position: relative;
    z-index: 5;
    width: 100%;
    background-color: rgba(map-get($colors-rule, bg-page-shade-light-4),1);

}

.articles-content {

    width: 100%;
    padding: 50px 20px;
    //border: 1px solid green;

}