@charset "UTF-8";
/* $colors-rule: (
    first-color: #024d4a,
    second-color: #00bdb6,
    third-color: #c7e3cd,
    fourth-color: #c3066b,
    fifth-color: #171717,
    sixth-color: #ffffff,
    footer-color: #6080a0,
    // footer-color: #101010,
    link-color:#0000ff,

    background-page-color: #fbfbfc,
    disabled-color: #9ca3af,
    dark-mode-color: #373737,
    alert-color: orangered,

); */
/* $colors-rule: (
    //couleurs de base
    first-color: #1A1627,
    second-color:#00d4ff,
    third-color:  #00bdb6,
    fourth-color: #b7950b,
    fifth-color: #171717,
    sixth-color: #fefefd,
    footer-color: #1A1627,
    nav-bar-color:#141627,
    link-color:#F96900,


    //couleur d' interaction / alerte
    disabled-color: #9ca3af,
    alert-color: orangered,
    dark-mode-color: #373737,

    //couleur d'arriere plans simple
    background-page-color: #fbfbfc,
    bg-page-shade-light-1:#3d335b,
    bg-page-shade-light-2:#574983,
    bg-page-shade-light-3:#7e6fae, 

    //gradient d'arriere plan clair
    bg-page-gradient-light-1: linear-gradient(),
    bg-page-gradient-light-2: linear-gradient(),
    bg-page-gradient-light-3: linear-gradient(), 

    //gradient d'arriere plan foncé
    bg-page-gradient-dark-1: linear-gradient(),
    bg-page-gradient-dark-2: linear-gradient(),
    bg-page-gradient-dark-3: linear-gradient(), 

); */
.article-form-dashboard {
  border: 1px solid rgba(26, 22, 39, 0.6);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
}
.article-form-dashboard .article-form {
  width: 100%;
}
.article-form-dashboard .form-group {
  margin-bottom: 50px;
}
.article-form-dashboard .form-group label {
  display: block;
  font-weight: bold;
  color: #1a1627;
  margin-bottom: 5px;
}
.article-form-dashboard .form-group input[type=text],
.article-form-dashboard .form-group input[type=file],
.article-form-dashboard .form-group select,
.article-form-dashboard .form-group textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #00bdb6;
  border-radius: 4px;
  background-color: #fefefd;
  color: #171717;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.article-form-dashboard .form-group input[type=text]:focus,
.article-form-dashboard .form-group input[type=file]:focus,
.article-form-dashboard .form-group select:focus,
.article-form-dashboard .form-group textarea:focus {
  border-color: #00d4ff;
  outline: none;
}
.article-form-dashboard .form-group .error-message {
  color: #f96e46;
  font-size: 0.9em;
  margin-top: 5px;
}
.article-form-dashboard .form-group .image-preview {
  margin: 20px 0;
  position: relative;
  max-width: 400px;
  max-height: 200px;
  border-radius: 4px;
  overflow: hidden;
}
.article-form-dashboard .form-group .image-preview .image-preview-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-form-dashboard .form-group .additional-images-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(23, 23, 23, 0.6);
}
.article-form-dashboard .form-group .additional-images-preview .additional-image-item {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
}
.article-form-dashboard .form-group .additional-images-preview .additional-image-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-form-dashboard .form-group .additional-images-preview .additional-image-item .image-remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #fefefd;
  cursor: pointer;
  font-size: 1.2em;
}
.article-form-dashboard .form-group .additional-images-preview .additional-image-item .image-remove-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: #f96e46;
  border-radius: 2px;
}
.article-form-dashboard .form-group .additional-images-preview .additional-image-item .image-remove-btn:hover .trash-icon {
  color: #171717;
}
.article-form-dashboard .file-upload-btn {
  background-color: #00d4ff;
  color: #fefefd;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.article-form-dashboard .file-upload-btn:hover {
  background-color: #1a1627;
}
.article-form-dashboard .submit-btn {
  background-color: #1a1627;
  color: #fefefd;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.article-form-dashboard .submit-btn:hover {
  background-color: #00d4ff;
}
.article-form-dashboard .submit-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
.article-form-dashboard .cancel-btn {
  background-color: #1a1627;
  color: #fefefd;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-right: 10px;
}
.article-form-dashboard .cancel-btn:hover {
  background-color: #00bdb6;
}
.article-form-dashboard .toast-notification {
  background-color: #f96e46;
  color: #fefefd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-form-dashboard .toast-notification .toast-close {
  background: none;
  border: none;
  color: #fefefd;
  cursor: pointer;
  font-size: 1.2em;
}
.article-form-dashboard .form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 10px;
  border: 1px solid #00d4ff;
  border-radius: 4px;
  gap: 20px;
  margin: 20px auto;
}
.article-form-dashboard .preview-article {
  width: 100%;
  padding: 10px;
  border: 1px solid #171717;
  border-radius: 4px;
  margin: 50px auto;
  overflow: hidden;
}
.article-form-dashboard .preview-article-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid rgba(23, 23, 23, 0.6);
  color: #171717;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}