.page-container {
  position: relative;
}
.page-container .btn-retour-articles {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 1rem;
  top: 85%;
  padding: 1rem;
  background-color: #024d4a;
  color: #ffffff;
  border-radius: 8px;
  border: 4px solid #ffffff;
  cursor: pointer;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.page-container .btn-retour-articles:hover {
  background-color: #00beb8;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.article-wrapper {
  max-width: 900px;
  margin: 50px auto;
  padding: 0px 20px;
  background: #ffffff;
  line-height: 1.7;
  color: #171717;
  font-size: 1rem;
}
.article-wrapper .article-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
}
.article-wrapper .article-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(23, 23, 23, 0.8) 10px, rgba(23, 23, 23, 0));
}
.article-wrapper .article-header .article-img-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  background-color: #00beb8;
  z-index: -1;
}
.article-wrapper .article-header .article-title {
  position: absolute;
  top: 20px;
  left: 0%;
  display: block;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 0 1rem;
}
.article-wrapper .article-header .article-meta {
  position: absolute;
  bottom: -50px;
  left: 5px;
  color: #171717;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
}
.article-wrapper .container-link-top-page {
  position: fixed;
  top: 85%;
  left: 100%;
  z-index: 1000;
  border: 1px solid red;
}
.article-wrapper .article-introduction {
  margin: 5rem 0 3rem 0;
  padding: 0;
  border: none;
  background: none;
}
.article-wrapper .article-introduction .article-text {
  font-size: 1rem;
  margin: 0;
  color: #024d4a;
  font-weight: 500;
  font-style: italic;
  border-left: 3px solid #00beb8;
  padding-left: 1rem;
}
.article-wrapper .article-introduction .article-text strong {
  color: #171717;
  font-weight: 600;
}
.article-wrapper .article-main-section {
  margin-bottom: 3rem;
}
.article-wrapper .article-main-section .article-img-subtitle-wrapper {
  gap: 2rem;
  width: 100%;
}
.article-wrapper .article-main-section .article-img-subtitle {
  width: 300px;
  height: 150px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-wrapper .article-main-section .article-subtitle-h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #171717;
}
.article-wrapper .article-section {
  margin-bottom: 2rem;
}
.article-wrapper .article-section .article-img-subtitle {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 1.5rem 0;
  border-radius: 4px;
}
.article-wrapper .article-section .article-subtitle-h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #024d4a;
  margin: 1.5rem 0 1rem 0;
}
.article-wrapper .article-section .article-text,
.article-wrapper .article-section .article-list-text {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  color: rgba(23, 23, 23, 0.8);
  text-align: justify;
}
.article-wrapper .article-section .article-text strong,
.article-wrapper .article-section .article-list-text strong {
  color: #171717;
  font-weight: 600;
}
.article-wrapper .article-section .article-list-text {
  list-style: disc;
  padding-left: 1rem;
}
.article-wrapper .article-conclusion-section {
  margin: 3rem 0;
  padding: 2rem;
}
.article-wrapper .article-conclusion-section .article-subtitle-h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c3066b;
  color: white;
  padding: 1.5rem 0;
  background-color: #00beb8;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
.article-wrapper .article-conclusion-section .article-conclusion-text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 0 0 1.5rem 0;
  color: #171717;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.article-wrapper .article-conclusion-section .article-conclusion-text:last-child {
  margin-bottom: 0;
}
.article-wrapper .article-conclusion-section .article-conclusion-text strong {
  color: #00beb8;
  font-weight: 700;
  font-style: italic;
}
.article-wrapper .article-resume-section .article-subtitle-h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: white;
  padding: 1.5rem 0;
  background-color: #00beb8;
}
.article-wrapper .article-list-resume {
  list-style: none;
  margin: 1.5rem 0;
}
.article-wrapper .article-list-resume li {
  position: relative;
  padding: 0.5rem 0 0.5rem 1.5rem;
  margin-bottom: 0.75rem;
}
.article-wrapper .article-list-resume li::before {
  content: "*";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #00beb8;
  font-weight: bold;
  font-size: 1.8rem;
}
.article-wrapper .article-list-resume li strong {
  color: #171717;
  font-weight: 600;
}
.article-wrapper .article-list-resume li .article-text {
  font-size: 1.1rem;
  color: rgba(23, 23, 23, 0.8);
}
@media (min-width: 768px) {
  .article-wrapper .article-wrapper {
    padding: 1rem;
    font-size: 1.1rem;
  }
  .article-wrapper .article-header .article-title {
    font-size: 2.1rem;
  }
  .article-wrapper .article-introduction {
    margin: 4rem 0;
  }
  .article-wrapper .article-introduction .article-text {
    font-size: 1.1rem;
    padding-left: 1rem;
  }
  .article-wrapper .article-main-section {
    margin-bottom: 4rem;
  }
  .article-wrapper .article-main-section .article-subtitle-h2 {
    font-size: 1.6rem;
    margin: 2rem 0 1.5rem 0;
  }
  .article-wrapper .article-section {
    margin-bottom: 3rem;
  }
  .article-wrapper .article-section .article-text {
    font-size: 1.2rem;
  }
  .article-wrapper .article-section .article-subtitle-h3 {
    font-size: 1.3rem;
    margin: 2rem 0 1rem 0;
  }
  .article-wrapper .article-section .article-section {
    margin: 2rem 0;
  }
  .article-wrapper .article-section .article-section .article-subtitle {
    font-size: 1.3rem;
    margin: 1.5rem 0 1rem 0;
  }
  .article-wrapper .article-conclusion-section {
    margin: 4rem 0;
    padding: 2.5rem;
  }
  .article-wrapper .article-conclusion-section .article-subtitle-h2 {
    font-size: 1.8rem;
  }
  .article-wrapper .article-conclusion-section .article-conclusion-text {
    font-size: 1.2rem;
    line-height: 1.9;
    margin: 0 0 2rem 0;
  }
  .article-wrapper .article-resume-section .article-subtitle-h2 {
    font-size: 1.6rem;
  }
  .article-wrapper .article-list-resume {
    margin: 2rem 0;
  }
  .article-wrapper .article-list-resume li {
    padding: 0.5rem 0 0.5rem 2rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }
  .article-wrapper .article-list-resume li .article-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .article-wrapper .article-wrapper {
    padding: 2rem;
    font-size: 1.1rem;
  }
  .article-wrapper .article-header .article-title {
    font-size: 2.2rem;
  }
  .article-wrapper .article-introduction {
    margin: 6rem 0;
  }
  .article-wrapper .article-introduction .article-text {
    font-size: 1.3rem;
    padding-left: 1.5rem;
  }
  .article-wrapper .article-main-section .article-img-subtitle-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
    height: 200px;
  }
  .article-wrapper .article-main-section .article-img-subtitle {
    width: 300px;
    height: 100%;
  }
  .article-wrapper .article-main-section .article-subtitle-h2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-size: 2rem;
    height: 100%;
  }
  .article-wrapper .article-section .article-subtitle {
    font-size: 1.4rem;
  }
  .article-wrapper .article-section .article-section .article-subtitle {
    font-size: 1.4rem;
  }
  .article-wrapper .article-conclusion-section {
    margin: 5rem 0;
    padding: 3rem;
  }
  .article-wrapper .article-conclusion-section .article-subtitle-h2 {
    font-size: 2rem;
    margin: 0 0 2.5rem 0;
  }
  .article-wrapper .article-conclusion-section .article-conclusion-text {
    font-size: 1.3rem;
    line-height: 2;
    margin: 0 0 2.5rem 0;
  }
  .article-wrapper .article-resume-section .article-subtitle-h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1300px) {
  .page-container .btn-retour-articles {
    top: 200px;
  }
}/*# sourceMappingURL=article.css.map */