.cta-section {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 100px 20px;
  border-radius: 10px;
  background: -webkit-linear-gradient(315deg, #024d4a 0%, #00beb8 100%);
  background: -o-linear-gradient(315deg, #024d4a 0%, #00beb8 100%);
  background: linear-gradient(135deg, #024d4a 0%, #00beb8 100%);
  color: #ffffff;
  overflow: visible;
  text-align: center;
}

.cta-section::before {
  content: '';
  position: absolute;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #00beb8;
  opacity: 0.2;
  border-radius: 10px;
  z-index: -1;
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.cta-section::after {
  content: '';
  position: absolute;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #c3066b;
  opacity: 0.2;
  border-radius: 10px;
  z-index: -2;
  -webkit-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
          transform: rotate(4deg);
}

.cta-section .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.cta-section h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  opacity: 0.9;
}

.cta-section .btn-primary {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  color: rgba(23, 23, 23, 0.8);
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #ffffff;
}

.cta-section .btn-primary:hover {
  background-color: transparent;
  color: #ffffff;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
