/**************************************************************
*************  police pour le site *****************************
******************************************************************/
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/src/Fonts/variable/Montserrat-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/src/Fonts/variable/OpenSans-VariableFont.ttf") format("truetype");
}
