@charset "UTF-8";
/* $colors-rule: (
    first-color: #024d4a,
    second-color: #00bdb6,
    third-color: #c7e3cd,
    fourth-color: #c3066b,
    fifth-color: #171717,
    sixth-color: #ffffff,
    footer-color: #6080a0,
    // footer-color: #101010,
    link-color:#0000ff,

    background-page-color: #fbfbfc,
    disabled-color: #9ca3af,
    dark-mode-color: #373737,
    alert-color: orangered,

); */
/* $colors-rule: (
    //couleurs de base
    first-color: #1A1627,
    second-color:#00d4ff,
    third-color:  #00bdb6,
    fourth-color: #b7950b,
    fifth-color: #171717,
    sixth-color: #fefefd,
    footer-color: #1A1627,
    nav-bar-color:#141627,
    link-color:#F96900,


    //couleur d' interaction / alerte
    disabled-color: #9ca3af,
    alert-color: orangered,
    dark-mode-color: #373737,

    //couleur d'arriere plans simple
    background-page-color: #fbfbfc,
    bg-page-shade-light-1:#3d335b,
    bg-page-shade-light-2:#574983,
    bg-page-shade-light-3:#7e6fae, 

    //gradient d'arriere plan clair
    bg-page-gradient-light-1: linear-gradient(),
    bg-page-gradient-light-2: linear-gradient(),
    bg-page-gradient-light-3: linear-gradient(), 

    //gradient d'arriere plan foncé
    bg-page-gradient-dark-1: linear-gradient(),
    bg-page-gradient-dark-2: linear-gradient(),
    bg-page-gradient-dark-3: linear-gradient(), 

); */
/* conteneur positionner szicky dans shared style */
.link-top-page-wrapper {
  gap: 1rem;
  padding-right: 1rem;
}

.link-top-page button {
  background-color: #1a1627;
  color: white;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link-top-page button:hover {
  color: #00d4ff;
}