/* $colors-rule: (
    first-color: #024d4a,
    second-color: #00bdb6,
    third-color: #c7e3cd,
    fourth-color: #c3066b,
    fifth-color: #171717,
    sixth-color: #ffffff,
    footer-color: #6080a0,
    // footer-color: #101010,
    link-color:#0000ff,

    background-page-color: #fbfbfc,
    disabled-color: #9ca3af,
    dark-mode-color: #373737,
    alert-color: orangered,

); */
.menu-side {
  display: none;
  padding: 2px;
  position: absolute;
  top: 100%;
  right: 1rem;
  background-color: rgba(0, 189, 182, 0.7);
  z-index: 100;
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
}

.menu-side-icon-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .menu-side.show-menu-side {
    display: block;
  }
}
.menu-side-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  list-style: none;
  gap: 20px;
}

.menu-side-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu-side-link {
  display: block;
  position: relative;
  color: #fefefd;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  min-width: 100px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  padding: 2px 5px;
}
@media screen and (min-width: 1300px) {
  .menu-side-link {
    font-size: 0.9rem;
  }
}
.menu-side-link:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.menu-side-list li.active .menu-side-link {
  color: #171717;
  padding: 2px 5px;
  background-color: #fefefd;
}