@charset "UTF-8";
/* Login Form Styles */
/* $colors-rule: (
    first-color: #024d4a,
    second-color: #00bdb6,
    third-color: #c7e3cd,
    fourth-color: #c3066b,
    fifth-color: #171717,
    sixth-color: #ffffff,
    footer-color: #6080a0,
    // footer-color: #101010,
    link-color:#0000ff,

    background-page-color: #fbfbfc,
    disabled-color: #9ca3af,
    dark-mode-color: #373737,
    alert-color: orangered,

); */
/* $colors-rule: (
    //couleurs de base
    first-color: #1A1627,
    second-color:#00d4ff,
    third-color:  #00bdb6,
    fourth-color: #b7950b,
    fifth-color: #171717,
    sixth-color: #fefefd,
    footer-color: #1A1627,
    nav-bar-color:#141627,
    link-color:#F96900,


    //couleur d' interaction / alerte
    disabled-color: #9ca3af,
    alert-color: orangered,
    dark-mode-color: #373737,

    //couleur d'arriere plans simple
    background-page-color: #fbfbfc,
    bg-page-shade-light-1:#3d335b,
    bg-page-shade-light-2:#574983,
    bg-page-shade-light-3:#7e6fae, 

    //gradient d'arriere plan clair
    bg-page-gradient-light-1: linear-gradient(),
    bg-page-gradient-light-2: linear-gradient(),
    bg-page-gradient-light-3: linear-gradient(), 

    //gradient d'arriere plan foncé
    bg-page-gradient-dark-1: linear-gradient(),
    bg-page-gradient-dark-2: linear-gradient(),
    bg-page-gradient-dark-3: linear-gradient(), 

); */
.navbar {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  padding: 1rem 1rem;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.navbar .toast {
  position: absolute;
  bottom: -100px;
  right: 50px;
  padding: 10px 20px;
  color: #fefefd;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}
.navbar .toast.offline {
  background-color: rgba(255, 90, 54, 0.8);
}
.navbar .toast.online {
  background-color: rgba(0, 212, 255, 0.8);
}
.navbar .navbar-brand {
  height: 100%;
  /* .logo-image {

      width: 200px;
      //object-fit: contain;
      //border: 2px solid red;
  } */
}
.navbar .navbar-brand .burger-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgba(26, 22, 39, 0.9);
}
.navbar .navbar-brand .burger-menu span {
  width: 25px;
  height: 2px;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.navbar .navbar-brand .burger-menu.open span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.navbar .navbar-brand .burger-menu.open span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.navbar .navbar-brand .burger-menu.open span:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-brand .burger-menu.open span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.navbar .navbar-brand .burger-menu:hover span {
  background: #00d4ff;
}
@media screen and (min-width: 992px) {
  .navbar .navbar-brand .burger-menu {
    gap: 6px;
    width: 40px;
    height: 40px;
  }
}
.navbar .navbar-menu {
  position: fixed;
  top: 0px;
  left: -100%;
  bottom: 0;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgb(36.868852459, 31.1967213115, 55.3032786885);
  padding: 2rem;
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.navbar .navbar-menu.open {
  left: 0;
}
.navbar .navbar-menu li {
  width: 100%;
  list-style: none;
}
.navbar .navbar-menu .has-submenu,
.navbar .navbar-menu a {
  display: block;
  padding: 1rem 0;
  color: #fefefd;
  text-decoration: none;
  border-bottom: 1px solid rgba(254, 254, 253, 0.1);
}
.navbar .navbar-menu .menu-item-with-submenu {
  /* &:hover {
      .submenu-arrow {
          transform: rotate(180deg);
      }
  }*/
}
.navbar .navbar-menu .menu-item-with-submenu .has-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu {
  max-height: 0px;
  overflow: hidden;
  padding-left: 1rem;
  background-color: #1a1627;
  -webkit-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu a {
  padding: 0.8rem 0;
  border-bottom: none;
}
.navbar .navbar-menu .menu-item-with-submenu .open {
  max-height: 500px;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu-arrow {
  margin-left: 0.5rem;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  font-size: 0.8em;
  -webkit-transform: rotateZ(0deg);
      -ms-transform: rotate(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu-arrow.rotate {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}
.navbar .navbar-menu .language-switcher {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.navbar .navbar-menu .language-switcher button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.navbar .navbar-menu .language-switcher .flag-image {
  width: 25px;
  height: 25px;
}
.navbar .navbar-menu .icon-kebab {
  display: none;
}

.navbar.hide-navbar {
  opacity: 0.2;
}

@media (min-width: 1300px) {
  /* .navbar-wrapper{
  margin-top: 1rem;       

      }  */
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navbar-brand .burger-menu {
    display: none;
  }
  .navbar .navbar-menu {
    position: static;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 1em;
    gap: 2rem;
    background-color: rgba(26, 22, 39, 0.9);
    border-radius: 1.5rem;
  }
  .navbar .navbar-menu li {
    width: auto;
  }
  .navbar .navbar-menu > li > a, .navbar .navbar-menu > li > button {
    position: relative;
    z-index: 10;
    padding: 0.3rem 0;
    border-bottom: none;
    position: relative;
  }
  .navbar .navbar-menu > li > a::before, .navbar .navbar-menu > li > button::before {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 60%;
    left: 0;
    width: 100%;
    max-height: 8px;
    height: 0px;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .navbar .navbar-menu > li > a::after, .navbar .navbar-menu > li > button::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 60%;
    left: 0;
    width: 100%;
    height: 0px;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
  }
  .navbar .navbar-menu > li > a:hover::after, .navbar .navbar-menu > li > button:hover::after {
    background: #7c5cfc;
    height: 8px;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
  }
  .navbar .navbar-menu > li > a.active::before, .navbar .navbar-menu > li > button.active::before {
    background: #957fee;
    height: 100%;
  }
  .navbar .navbar-menu .menu-item-with-submenu {
    position: relative;
    /* &:hover {
        a::after {
            background: map-get($colors-rule, fourth-color);
            height: 100%;
        }
    }

    &.active a::before {
        background: map-get($colors-rule, second-color);
        height: 100%;
    } */
  }
  .navbar .navbar-menu .menu-item-with-submenu .has-submenu {
    border-bottom: none;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    min-width: 200px;
    background-color: #1a1627;
    border-radius: 1.5rem;
    padding: 0.5rem 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a {
    position: relative;
    padding: 0.8rem 0rem;
    margin-left: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a:hover::before {
    height: 8px;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a.active::after {
    opacity: 1;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0px;
    bottom: 60%;
    left: 0px;
    background-color: #7c5cfc;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 8px;
    bottom: 60%;
    left: 0px;
    background-color: #00d4ff;
    opacity: 0;
  }
  .navbar .navbar-menu .language-switcher {
    margin-top: 0;
    border-left: 1px solid rgba(254, 254, 253, 0.2);
    padding-left: 2rem;
  }
  .navbar .navbar-menu .icon-kebab {
    display: block;
    height: 30px;
    width: 30px;
    color: #fefefd;
    cursor: pointer;
  }
}