/* Login Form Styles */
.navbar-wrapper {
  height: 100%;
  background-color: #00beb8;
}

.navbar {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #024d4a;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.navbar .toast {
  position: absolute;
  bottom: -100px;
  right: 50px;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}
.navbar .toast.offline {
  background-color: rgba(255, 69, 0, 0.8);
}
.navbar .toast.online {
  background-color: rgba(0, 190, 184, 0.8);
}
.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navbar .navbar-brand .logo-image {
  height: 60px;
  width: 150px;
}
.navbar .navbar-brand .burger-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
}
.navbar .navbar-brand .burger-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.navbar .navbar-brand .burger-menu span#burger-menu-1 {
  top: 0;
}
.navbar .navbar-brand .burger-menu span#burger-menu-2 {
  top: 12px;
}
.navbar .navbar-brand .burger-menu span#burger-menu-3 {
  top: 24px;
}
.navbar .navbar-brand .burger-menu.open span:first-child {
  -webkit-transform: translate(0, 12px) rotate(45deg);
      -ms-transform: translate(0, 12px) rotate(45deg);
          transform: translate(0, 12px) rotate(45deg);
}
.navbar .navbar-brand .burger-menu.open span:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-brand .burger-menu.open span:last-child {
  -webkit-transform: translate(0, -12px) rotate(-45deg);
      -ms-transform: translate(0, -12px) rotate(-45deg);
          transform: translate(0, -12px) rotate(-45deg);
}
.navbar .navbar-brand .burger-menu:hover span {
  background: #00beb8;
}
.navbar .navbar-menu {
  position: fixed;
  top: 60px;
  left: -100%;
  bottom: 0;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #036662;
  padding: 2rem;
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.navbar .navbar-menu.open {
  left: 0;
}
.navbar .navbar-menu li {
  width: 100%;
  list-style: none;
}
.navbar .navbar-menu .has-submenu,
.navbar .navbar-menu a {
  display: block;
  padding: 1rem 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .navbar-menu .menu-item-with-submenu {
  /* &:hover {
      .submenu-arrow {
          transform: rotate(180deg);
      }
  }*/
}
.navbar .navbar-menu .menu-item-with-submenu .has-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  padding-left: 1rem;
  background-color: #024d4a;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu.open {
  max-height: 500px;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu a {
  padding: 0.8rem 0;
  border-bottom: none;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu-arrow {
  margin-left: 0.5rem;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  font-size: 0.8em;
  -webkit-transform: rotateZ(0deg);
      -ms-transform: rotate(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar .navbar-menu .menu-item-with-submenu .submenu-arrow.rotate {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}
.navbar .navbar-menu .language-switcher {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.navbar .navbar-menu .language-switcher button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.navbar .navbar-menu .language-switcher .flag-image {
  width: 25px;
  height: 25px;
}

@media (min-width: 992px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5rem;
  }
  .navbar .navbar-brand .burger-menu {
    display: none;
  }
  .navbar .navbar-menu {
    position: static;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    gap: 2rem;
  }
  .navbar .navbar-menu li {
    width: auto;
  }
  .navbar .navbar-menu > li > a {
    position: relative;
    z-index: 10;
    padding: 0.3rem 0;
    border-bottom: none;
    position: relative;
  }
  .navbar .navbar-menu > li > a::before {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 60%;
    left: 0;
    width: 100%;
    max-height: 8px;
    height: 0px;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .navbar .navbar-menu > li > a::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 60%;
    left: 0;
    width: 100%;
    max-height: 8px;
    height: 0px;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .navbar .navbar-menu > li > a:hover::after {
    background: #c3066b;
    height: 100%;
    -webkit-transition: height 0.5s ease;
    transition: height 0.5s ease;
  }
  .navbar .navbar-menu > li > a.active::before {
    background: #00beb8;
    height: 100%;
  }
  .navbar .navbar-menu .menu-item-with-submenu {
    position: relative;
  }
  .navbar .navbar-menu .menu-item-with-submenu:hover a::after {
    background: #c3066b;
    height: 100%;
  }
  .navbar .navbar-menu .menu-item-with-submenu.active a::before {
    background: #00beb8;
    height: 100%;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    min-width: 200px;
    background: #023e3c;
    border-radius: 10px;
    padding: 0.5rem 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a {
    padding: 0.8rem 1rem;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a.active {
    color: #00beb8;
    font-weight: bolder;
  }
  .navbar .navbar-menu .menu-item-with-submenu .submenu a:hover {
    font-weight: bolder;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
  .navbar .navbar-menu .language-switcher {
    margin-top: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 2rem;
  }
}/*# sourceMappingURL=navbar.css.map */