@import '../../utils/color-rule/color-rule.scss';

// Mobile first base styles
.card-container {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;

  .cards-list {
    width: 100%;
    //border: 1px solid red;
    list-style: none;
    gap: 50px;


  }
}

// Tablet breakpoint
@media (min-width: 768px) {
  .card-container {
    padding: 20px;
    margin-bottom: 40px;


  }
}

// Desktop breakpoint
@media (min-width: 1024px) {
  .card-container {
    padding: 25px;
    margin-bottom: 50px;


  }
}