@use "../../utils/color-rule/color-rule" as *;


/* conteneur positionner szicky dans shared style */
.link-top-page-wrapper {
    gap: 1rem;
    padding-right: 1rem;
    //border: 1px solid blue;
}

.link-top-page {



    button {
        background-color: map-get($colors-rule, first-color);
        color: white;
        //border: 4px solid map-get($colors-rule, sixth-color);
        padding: 5px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            //border-color: map-get($colors-rule, second-color);
            color: map-get($colors-rule, second-color);
        }
    }
}
