/* Login Form Styles */
@import "../../utils/breakpoint/breakpoint.scss";
@import "../../utils/color-rule/color-rule.scss";

// Mobile first base styles
.navbar {


    position: relative;
    z-index: 1000;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: map-get($colors-rule, first-color);
    transition: opacity 1s ease;
    opacity: 1;

    &.scrolled {
        opacity: 0.05;
        transition: opacity 1s ease;
    }

    // Brand section
    .navbar-brand {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        height: 100%;

        .logo {
            display: flex;
            align-items: center;
            height: 100%;

            .logo-image {
                height: 50px;
                width: 50px;
                object-fit: contain;
                border-radius: 50%;
            }
        }

        // Burger menu for mobile
        .burger-menu {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 30px;
            border: none;
            cursor: pointer;
            padding: 0;
            background: none;

            span {
                position: absolute;
                width: 100%;
                height: 2px;
                background: lighten(map-get($colors-rule, sixth-color), 30%);
                transition: all 0.3s ease;
                transform-origin: center;

                &#burger-menu-1 {
                    top: 0;
                }

                &#burger-menu-2 {
                    top: 12px;
                }

                &#burger-menu-3 {
                    top: 24px;
                }
            }

            &.open {
                span:first-child {
                    transform: translate(0, 12px) rotate(45deg);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:last-child {
                    transform: translate(0, -12px) rotate(-45deg);
                }
            }

            &:hover span {
                background: map-get($colors-rule, second-color);
            }
        }
    }

    // Mobile menu
    .navbar-menu {
        position: fixed;
        top: 60px;
        left: -100%;
        bottom: 0;
        width: 250px;
        display: flex;
        flex-direction: column;
        background-color: lighten(map-get($colors-rule, first-color), 5%);
        padding: 2rem;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;

        &.open {
            left: 0;
        }

        li {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            display: block;
            padding: 1rem 0;
            color: map-get($colors-rule, sixth-color);
            text-decoration: none;
            border-bottom: 1px solid rgba(map-get($colors-rule, sixth-color), 0.1);
        }

        // Submenu styles for mobile
        .menu-item-with-submenu {
            /* &:hover {
                .submenu-arrow {
                    transform: rotate(180deg);
                }
            }*/

            .has-submenu {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .submenu {
                height: 0;
                overflow: hidden;
                transition: height 0.3s ease;
                padding-left: 1rem;
                background-color: map-get($colors-rule, first-color);

                &.open {
                    height: auto;


                }

                a {
                    padding: 0.8rem 0;
                    border-bottom: none;
                }
            }

            .submenu-arrow {
                margin-left: 0.5rem;
                transform-origin: center;
                font-size: 0.8em;
                transform: rotateZ(0deg);
                transition: transform 0.3s ease;

                &.rotate {

                    transform: rotateZ(180deg);
                }
            }
        }

        // Language switcher for mobile
        .language-switcher {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;

            button {
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
            }

            .flag-image {
                width: 25px;
                height: 25px;
            }
        }
    }

}



// Desktop styles (min-width: 992px)
@media (min-width: 992px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;

        .navbar-brand {
            .burger-menu {
                display: none;
            }
        }

        .navbar-menu {
            position: static;
            width: auto;
            flex-direction: row;
            align-items: center;
            background: none;
            box-shadow: none;
            padding: 0;
            gap: 2rem;



            li {
                width: auto;
            }

            &>li>a {
                position: relative;
                z-index: 10;
                padding: 0.3rem 0;
                border-bottom: none;
                //border-top: 2px solid transparent;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    z-index: -2;
                    //bottom: 0;
                    bottom: 60%;
                    left: 0;
                    width: 100%;
                    max-height: 8px;
                    height: 0px;
                    transition: height 0.3s ease;
                    //opacity: 0.6;
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    //bottom: 0;
                    bottom: 60%;
                    left: 0;
                    width: 100%;
                    max-height: 8px;
                    height: 0px;
                    transition: height 0.3s ease;
                    //opacity: 0.6;
                }

                &:hover::after {
                    background: map-get($colors-rule, fourth-color);
                    height: 100%;
                    transition: height 0.5s ease;
                }

                &.active::before {
                    background: map-get($colors-rule, second-color);
                    height: 100%;
                }
            }

            // Submenu styles for desktop
            .menu-item-with-submenu {

                position: relative;

                &:hover {
                    a::after {
                        background: map-get($colors-rule, fourth-color);
                        height: 100%;
                    }
                }

                &.active a::before {
                    background: map-get($colors-rule, second-color);
                    height: 100%;
                }

                .submenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: auto;
                    min-width: 200px;
                    background: darken(map-get($colors-rule, first-color), 3%);
                    border-radius: 10px;
                    padding: 0.5rem 0;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-10px);
                    transition: all 0.3s ease;

                    &.open {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }

                    a {
                        padding: 0.8rem 1rem;
                        transition: transform 0.3s ease;


                        &.active {
                            color: map-get($colors-rule, second-color);
                            font-weight: bolder;
                        }

                        &:hover {

                            font-weight: bolder;
                            //color: map-get($colors-rule, fourth-color);
                            transform: translateX(10px);
                        }
                    }

                }


            }




            .language-switcher {
                margin-top: 0;
                margin-left: 2rem;
                border-left: 1px solid rgba(map-get($colors-rule, sixth-color), 0.2);
                padding-left: 2rem;
            }
        }
    }


}