//import des variables
@import "../../utils/color-rule/color-rule.scss";

.timer-session {
    position: relative;
    list-style: none;
    background-color: map-get($colors-rule, 'third-color');
    width: 130px;
    gap: 0;
    //overflow: hidden;



    @media (min-width: 1500px) {
        width: 150px;

    }

    .timer-user-session {
        position: relative;
        width: 100%;
        cursor: pointer;
        padding: 0.75rem;
        background-color: map-get($colors-rule, 'second-color');
        color: map-get($colors-rule, 'sixth-color');
        transition: background-color 0.3s ease;

        &:hover {
            background-color: map-get($colors-rule, 'first-color');
        }

        p {
            margin: 0;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
                content: '▼';
                font-size: 0.8rem;
                transition: transform 0.3s ease;
            }
        }

        &.active {
            p::after {
                transform: rotate(180deg);
            }
        }
    }

    .collapsible-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        width: 0;
        gap: 0;

        & li {
            width: 100%;
            flex: 0 0 auto;
        }


        @media (min-width: 992px) {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;

            &.active {

                width: 100%;
                max-height: 400px; // Adjust this value based on your content

            }
        }

    }

    .timer-session-counter {
        padding: 0.75rem 0;
        background-color: map-get($colors-rule, 'third-color');

    }

    #timer-session-link {
        display: block;
        width: 100%;
        padding: 0.75rem 0;
        border: none;
        background-color: map-get($colors-rule, 'second-color');
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        line-height: normal;
        color: map-get($colors-rule, 'sixth-color');

        &:hover {
            background-color: map-get($colors-rule, 'first-color');
        }



    }

    .timer-session-button {
        width: 100%;
        padding: 0.75rem 0;
        border: none;
        background-color: map-get($colors-rule, 'second-color');
        color: map-get($colors-rule, 'sixth-color');
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;

        &:hover {
            background-color: map-get($colors-rule, 'first-color');
        }

    }
}